@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  line-height: 1.65;
  @apply text-gray-700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900;
  @apply font-semibold;
}

h1 {
  @apply text-48px;
}

h2 {
  @apply text-42px;
}

h3 {
  @apply text-36px;
}

h4 {
  @apply text-30px;
}

h5 {
  @apply text-24px;
}

h6 {
  @apply text-18px;
}

input[type="search"],
input,
button {
  -webkit-appearance: none;
}

/* Custom CSS starts from here */
.nav:hover {
  background-color: #003048;
}

/* ScrollBar Height Calc */
.cart-scrollbar {
  max-height: calc(100vh - 174.08px);
  -webkit-overflow-scrolling: touch;
}

#cashierProfile img {
  border-radius: 50%;
  display: inline-block;
}

/* .icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
} */

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* CSS for SimpleModal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
}

.modal__button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.modal__close {
  background-color: rgb(238, 117, 117);
}
.modal__download {
  background-color: #007bff;
}

.modal button:hover {
  background-color: #0056b3;
}
